<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
  const CSRF_TOKEN = $('meta[name="csrf-token"]').attr('content');
  paypal.Button.render({
    env: <%= raw paypal_js_env %>,
    payment: function(resolve, reject) {
      const CREATE_PAYMENT_URL = <%= raw paypal_js_create_payment_url %>;
      paypal.request.post(CREATE_PAYMENT_URL, {}, options = { headers: { 'X-CSRF-Token':CSRF_TOKEN }})
            .then(function(data) { resolve(data.paymentID); })
            .catch(function(error) { reject(error); });
    },
    onAuthorize: function(data, actions) { 
      var EXECUTE_PAYMENT_URL = <%= raw paypal_js_execute_payment_url %>;
      paypal.request.post(EXECUTE_PAYMENT_URL, {
        paymentID: data.paymentID, payerID: data.payerID },
        options = { headers: { 'X-CSRF-Token':CSRF_TOKEN }})
          .then(function(data) { return actions.redirect(); })
          .catch(function(error) { /* go to an error page */ });
    },
    onCancel: function(data, actions) { 
      return actions.redirect();
    }
  }, '#paypal-button');

</script>
<script type="text/javascript">

var HELP_VALUES = new Array();
HELP_VALUES['#order_company'] = 'optional';
HELP_VALUES['#order_comment'] = 'optional';

$(document).ready(function(){
	$('#order_company').focus( function() { setup_help_value('#order_company'); });
	$('#order_company').blur(  function() { setup_help_value('#order_company'); });
	$('#order_comment').focus( function() { setup_help_value('#order_comment'); });
	$('#order_comment').blur(  function() { setup_help_value('#order_comment'); });
	
	$('#purchase_paypal').validate({
  		submitHandler: function (form) {
          	setup_help_values();
  			$('#submit').get(0).disabled = true;
  			form.submit();
  		}
  	});
});

</script>

<h1>Confirm</h1>

<% unless @order.errors.empty? %>
<div id="errors">
  <h2 style="margin-bottom:14px;color:red">Problems</h2>
  <ul>
  <% @order.errors.each_full do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="d cl"></div>

<div class="narrow">
	<% if @order.items_count == 1 %>
	<h2>Your Item</h2>
	<% else %>
	<h2>Your Items</h2>
	<% end %>

	<table id="order">
		<% for item in @order.line_items %>
		<%   if item.quantity > 0 %>
		<tr>
			<td class="price"><%= item.quantity %> @ <%= number_to_currency item.unit_price %> each</td>
			<td class="prod"><%= item.product.name %></td>
		</tr>
		<%   end %>
		<% end %>
		<% if @order.coupon %>
		<tr>
			<td class="price">-<%= number_to_currency(@order.coupon_amount) %></td>
			<td><%= @order.coupon.description %></td>
		</tr>
		<% end %>
		<tr id="total">
			<td></td>
			<td>Total: <strong><%= number_to_currency @order.total %></strong></td>
		</tr>
	</table>
</div>

<div class="d"></div>
	<p><span>&nbsp;</span><label><input type="checkbox" name="subscribe" value="checked"/>
        Keep me updated with <%=$STORE_PREFS['company_name']%> news.</label></p>
  <p><span>&nbsp;</span><div id="paypal-button"></div></p>
</div>


