<script type="text/javascript">

$(document).ready(function(){
  var resolver = new CreditCardResolver($('#order_cc_number'), $('p[id="cards"] > img'), $('p[id="cards"] > input[type="radio"]'));

});

</script>

<h1>Checkout</h1>

<% unless @order.errors.empty? %>
<div id="errors">
  <h2 style="margin-bottom:14px;color:red">Problems</h2>
  <ul>
  <% @order.errors.each_full do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="d cl"></div>

<div class="narrow">
	<% if @order.items_count == 1 %>
	<h2>Your Item</h2>
	<% else %>
	<h2>Your Items</h2>
	<% end %>
</div>

<table id="order">
    <% for item in @order.line_items %>
    <%   if item.quantity > 0 %>
    <tr>
        <td class="price"><%= item.quantity %> @ <%= number_to_currency item.unit_price %> each</td>
        <td class="prod"><%= item.product.name %></td>
    </tr>
    <%   end %>
    <% end %>
    <% if @order.coupon %>
    <tr>
      <td class="price">-<%= number_to_currency(@order.coupon_amount) %></td>
      <td><%= @order.coupon.description %></td>
    </tr>
    <% end %>
    <tr id="total">
        <td></td>
        <td>Total: <strong><%= number_to_currency @order.total %></strong></td>
    </tr>
</table>

<%= form_for @order, url: { action: 'purchase' } do |f| %>

<% for item in @order.line_items %>
<%= hidden_field "items", String(item.product_id), :value => item.quantity %>
<% end %>
<%= hidden_field "order", "uuid" %>
<%= hidden_field_tag("coupon", @order.coupon.coupon) if @order.coupon %>
<div class="d"></div>

<div class="narrow">
	<h2>Billing Information</h2>

    <p><label><span>First Name</span><%= f.text_field :first_name, size: 20, required: true %></label></p>
    <p><label><span>Last Name</span><%= f.text_field :last_name, size: 20, required: true %></label></p>

    <p id="company">
        <label><span>Company:</span><%= f.text_field :company, placeholder: 'optional' %></label>
    </p>

    <p><label><span>Address Line 1:</span><%= f.text_field :address1, size: 30, required: true %></label></p>
    <p><label><span>Address Line 2:</span><%= f.text_field :address2, size: 30, placeholder: 'optional' %></label></p>

    <p>
        <label id="city"><span>City:</span><%= f.text_field :city, size: 15, required: true %></label>
        <label id="state">State:<%= f.text_field :state, size: 4, required: true %></label>
    </p>
    <div class="cl"></div>
    <p>
        <label><span>Postal/Zip Code:</span><%= f.text_field :zipcode, size: 10, required: true %></label>
    </p>
    <p>
		<label><span>Country:</span><%= render :partial => "form_countries" %></label>
    </p>
	<p>
		<label><span>Email:</span><div><%= f.email_field :email, required: true %></div></label>
	</p>
</div>

<div class="d"></div>

<div class="narrow">
	<h2>Credit Card</h2>
    <p id="cards"><span>Card Type:</span>
      <%= f.radio_button :payment_type, 'Visa', id: 'Visa', checked: true %>
      <%= image_tag "store/visa.gif", :alt => 'Visa', :width => 37, :height => 23 %>

      <%= f.radio_button :payment_type, 'MasterCard', id: 'MasterCard' %>
      <%= image_tag "store/mc.gif", :alt => 'MasterCard', :width => 37, :height => 23 %>

      <%= f.radio_button :payment_type, 'Amex', id: 'Amex' %>
      <%= image_tag "store/amex.gif", :alt => 'Amex', :width => 37, :height => 23 %>

      <%= f.radio_button :payment_type, 'Discover', id: 'Discover' %>
      <%= image_tag"store/discover.gif", :alt => 'Discover', :width => 37, :height => 23 %>
    </p>

    <p><label><span>Credit Card Number:</span><%= f.text_field :cc_number, size: 24, required: true, class: 'creditcard' %></label></p>

    <p id="ccexp">
        <label><span>Expiration Date:</span>
		<%= f.text_field :cc_month, maxlength: 2, required: true, placeholder: 'mm' %></label>/<%= f.text_field :cc_year, maxlength: 2, required: true, placeholder: 'yy' %>
		<label>CSC: <%= f.text_field :cc_code, size: 4, required: true %></label>
		<%= image_tag "store/cvv.png", alt: 'Security Code', width: 37, height: 21 %>
    </p>
</div>

<div class="d"></div>

<div class="narrow">
	<h2>Almost There</h2>
	<p><label><span>Name on License:</span> <%= f.text_field :licensee_name, required: true %></label></p>
	<p><label><span>Comment:</span><%= f.text_field :comment, placeholder: 'optional' %></label></p>
	<p><span>&nbsp;</span><label><input type="checkbox" name="subscribe" value="checked"/>
        Keep me updated with <%=$STORE_PREFS['company_name']%> news.</label></p>
</div>

<p><%= f.submit 'Place Order', { id: 'submit' } %></p>

<% end %>
