<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title><%=$STORE_PREFS['store_name']%></title>
    <link rel="icon" href="/favicon.png" type="image/png"/>
	<%= stylesheet_link_tag 'store', 'theme', media: 'all' %>
	<%= javascript_include_tag 'application' %>
</head>
<body>
<div id="page" class="narrow">
	<div id="page_top">
		<% if not $STORE_PREFS['company_logo_path'].blank? %>
		<div id="logo"><a href="<%=$STORE_PREFS['company_url']%>"><img src="<%=$STORE_PREFS['company_logo_path']%>" alt="<%=$STORE_PREFS['company_name']%>"/></a>
		</div>
		<% end %>
		<h1><%=$STORE_PREFS['store_name']%></h1>
	</div>
	<div id="page_content" class="narrow">
		<div class="ccolumn narrow solo">
			<%= yield %>
		</div>
		<div class="clear">&nbsp;</div>
	</div>
	<div id="footer">
		<div id="copyright"><p><%=$STORE_PREFS['copyright_html'].html_safe %> Powered by <a href="http://www.potionfactory.com/potionstore">Potion Store</a></p></div>
	</div>
</div>
<% if is_live?() && ! $STORE_PREFS['google_analytics_account'].blank? %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%=$STORE_PREFS['google_analytics_account']%>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<% end %>
<% if is_live?() && $STORE_PREFS['include_mint'] == true %>
<script type="text/javascript" src="/mint/?js"></script>
<% end %>
</body>
</html>
