<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title><%=$STORE_PREFS['store_name']%></title>
  <link rel="icon" href="/favicon.png" type="image/png"/>
  <%= stylesheet_link_tag 'store', 'theme', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page" class="narrow">
	<div id="page_top">
		<% if not $STORE_PREFS['company_logo_path'].blank? %>
		<div id="logo"><a href="<%=$STORE_PREFS['company_url']%>"><img src="<%=$STORE_PREFS['company_logo_path']%>" alt="<%=$STORE_PREFS['company_name']%>"/></a>
		</div>
		<% end %>
		<h1><%=$STORE_PREFS['store_name']%></h1>
		<div class="tm"></div>
		<%= image_tag "store/rounded_tr.png", :alt => "rounded border", :class => "tr" %>
	</div>
	<div id="page_content" class="narrow">
		<div class="ccolumn narrow solo">
			<%= yield %>
		</div>
		<div class="clear">&nbsp;</div>
	</div>
	<div id="footer">
		<div id="copyright"><p><%=$STORE_PREFS['copyright_html'].html_safe %> Powered by <a href="http://www.potionfactory.com/potionstore">Potion Store</a></p></div>
	</div>
</div>
<% if is_live? && ! $STORE_PREFS['google_analytics_account'].blank? %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '<%= $STORE_PREFS['google_analytics_account'] %>', 'auto');
    ga('send', 'pageview');

  </script>
<% end %>
<% if is_live? && $STORE_PREFS['include_mint'] == true %>
<script type="text/javascript" src="/mint/?js"></script>
<% end %>
</body>
</html>
